/*creo così un commento nella pagina CSS*/
body{
    font-family: Helvetica, Arial, Sans-Serif;
    color: white;
    background-color: darkslategrey;
    line-height: 1.1;
    background-image: url(single_background.jpeg);
    font-size: "200%"; 
    background-repeat: repeat; /*in questo caso lo fa in tutte le direzioni*/
    /*nel caso volessi l'immagine ripetuta un certo numero di volte, 
    devo scrivere background-repeat: no-repeat*/
  /*  background-size: cover; */
  counter-reset: contatore;
}

#background_1{
    background: no-repeat;
}

p::first-letter{
    font-weight: bold;
    size: 3;
}
a:link{
    color:brown
}
a:visited{
    color: brown;
}
a:hover{
    background-color: aqua;
    background-image: hide;
    color:rgb(226, 177, 43)
}
a.puntato::before{
    counter-increment: contatore;
    content: counter(contatore)"."
}
a:active{
    background-color: darkgreen;
}
/*
a.puntato::after{
    content:"\A"
}*/
body a{
    color: lightblue
}
tr.minore24{
    color:pink
}
tr.maggiore24{  /* possibile anche omettere tr*/
    color: greenyellow
}
td.centrato{
    text-align: center;
}
figure{
    text-align: center;
}
footer{
    font-family: serif;
     font-style: italic; 
     font-size: small;
    }
p.citazione{
    text-align: center;
    font-style: italic;
}
img{
    width: 100;
}
